@model organiziranje.Models.natjecaj_ponuda

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>natjecaj_ponuda</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.broj_osoblja)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.broj_osoblja)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.iznos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.iznos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dobitna_ponuda)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dobitna_ponuda)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.natjecaj.raspisala_osoba)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.natjecaj.raspisala_osoba)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
