@model IEnumerable<organiziranje.Models.evidencija_oprema>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div style="text-align:right">@Html.ActionLink("Print evidenciju opreme", "printAll")</div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.dan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.broj_sati)
        </th>
        <th>
            Inventarni broj
        </th>
        <th>
            @Html.DisplayNameFor(model => model.oprema.naziv)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.posao.grad)
        </th>
        <th>
            Lokacija
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.dan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.broj_sati)
            </td>
            <td>
                @Html.ActionLink(item.oprema.inventarni_broj, "Details", "Oprema", new { id = item.oprema.id }, null);
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.oprema.naziv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.posao.grad)
            </td>
            <td>
                @Html.ActionLink(item.posao.lokacija, "Details", "Posao", new { id = item.posao.id }, null);
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                @Html.ActionLink("Details", "Details", new { id = item.id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.id })
            </td>
        </tr>
    }

</table>
