@model organiziranje.Models.natjecaj_transakcija_osoblje

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>natjecaj_transakcija_osoblje</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.natjecaj.raspisala_osoba)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.natjecaj.raspisala_osoba)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.transakcija_osoblje.id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.transakcija_osoblje.id)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
