@model organiziranje.Models.posao_transakcija_oprema

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>posao_transakcija_oprema</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.posao.grad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.posao.grad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.transakcija_oprema.id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.transakcija_oprema.id)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
