@model IEnumerable<organiziranje.Models.posao_transakcija_oprema>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            ID posla
        </th>
        <th>
            @Html.DisplayNameFor(model => model.posao.grad)
        </th>
        <th>
            Lokacija
        </th>
        <th>
            Inventarni broj opreme
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.posao.id)
        </td>
        <td>
            @Html.ActionLink(item.posao.grad, "Details", "Posao", new { id = item.posao.id }, null);
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.posao.lokacija)
        </td>
        <td>
            @Html.ActionLink(item.transakcija_oprema.oprema.inventarni_broj, "Details", "Oprema", new { id = item.transakcija_oprema.oprema.id }, null);
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
