@model organiziranje.Models.oprema

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>oprema</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.naziv)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.naziv)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.inventarni_broj)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.inventarni_broj)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.kupljena_vrijednost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.kupljena_vrijednost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.knjigovodstvena_vrijednost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.knjigovodstvena_vrijednost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tip)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tip)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dostupna)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dostupna)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.broj_radnih_sati)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.broj_radnih_sati)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.oprema2.naziv)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.oprema2.naziv)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
