@model organiziranje.Models.usluga

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>usluga</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.cijena)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cijena)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.opis)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.opis)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.usluga_kategorija.naziv)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.usluga_kategorija.naziv)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
