@model organiziranje.Models.transakcija_oprema

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>transakcija_oprema</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.datum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.datum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.prihod)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.prihod)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.trosak)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.trosak)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.oprema.naziv)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.oprema.naziv)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
