@model IEnumerable<organiziranje.Models.transakcija_oprema>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.datum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.prihod)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.trosak)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.oprema.naziv)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.datum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.prihod)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.trosak)
        </td>
        <td>
            @Html.ActionLink(item.oprema.naziv, "Details", "Oprema", new { id = item.oprema.id }, null);
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
