@model organiziranje.Models.unajmljena_oprema

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>unajmljena_oprema</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.koristenje_od)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.koristenje_od)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.koristenje_do)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.koristenje_do)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tip)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tip)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.osoba)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.osoba)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.oprema.naziv)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.oprema.naziv)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
