@model IEnumerable<organiziranje.Models.unajmljena_oprema>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.koristenje_od)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.koristenje_do)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tip)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.osoba)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.oprema.naziv)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.koristenje_od)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.koristenje_do)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tip)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.osoba)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.oprema.naziv)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
