@model IEnumerable<organiziranje.Models.posao>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.grad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lokacija)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sklopljen)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.zavrsen)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.trajanje_od)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.trajanje_do)
        </th>
        <th>
            Zavrsi posao
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.grad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lokacija)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sklopljen)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.zavrsen)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.trajanje_od)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.trajanje_do)
        </td>
        <td>
            @if (item.zavrsen == "N")
            {
                @Html.ActionLink("Zavrsi posao", "FinishJob", new { id = item.id })
            }
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
